<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/wedding.css">
    <title>Create Your Wedding</title>
</head>
<body>
    <a href="/wedding/info/edit">Edit Wedding Info</a>
    <a href="/dashboard">Dashboard</a>
    <h1>Wedding Info</h1>
    <div class="weddingInfo">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th class="table-success">Partner #1: </th>
                <td>{{wedding['partner_name_1']}}</td>
            </tr>
            <tr>
                <th>Partner #2: </th>
                <td>{{wedding['partner_name_2']}}</td>
            </tr>
            <tr>
                <th>Location: </th>
                <td>{{wedding['location']}}</td>
            </tr>
            <tr>
                <th>Date: </th>
                <td>{{wedding['date']}}</td>
            </tr>
            <tr>
                <th>Reception: </th>
                <td>{{wedding['reception']}}</td>
            </tr>
            <tr>
                <th>Number of Guests: </th>
                <td>{{wedding['total_guest']}}</td>
            </tr>
            <tr>
                <th>Notes: </th>
                <td>{{wedding['notes']}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>